<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div id="rouletteArea">
		<div id="rouletteSettingArea">
			<h1>오늘의 메뉴</h1>
			<div>
				<input id="menuInput" placeholder="ex) 짬뽕,짜장면, ...">
				<button id="createRoulette">돌림판<br>만들기</button>
			</div>
			<button id="startButton">START</button>
			<button id="stopButton">STOP</button>
			<button id="resetButton">RESET</button>
		</div>
		<div id="rouletteBoard">	
			<canvas id="circleBoard"></canvas>
		</div>
	</div>
</body>
</html>