<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table id="infoCheckArea">
		<tr>
			<td align="center">
				<form action="member.info.check.do" method="post">
					<table id="infoCheckTbl">
						<tr>
							<td align="center" class="infoCheckTd">비밀번호 확인</td>
						</tr>
						<tr>
							<td align="center" class="infoCheckTd"><input name="infoCheck" type="password"></td>
						</tr>
						<tr>
							<td align="center"class="infoCheckTd"><button>확인</button></td>
						</tr>
					</table>
				</form>
			</td>
		</tr>
	</table>
	
</body>
</html>