<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="bar">
    <div class="divscroll">
        <div class="item" th:each="item : ${ssresult}">
            <table class="barviewtable" style="padding:0px;">
                <tr>
                    <td style="height:100px;">
                        <img alt="" th:src="${item.rtymimg}">
                    </td>
                    <td style="width:730px; height:100px;">
                        <a th:href="${item.rtymlnk}"><span th:utext="${item.rtymtt}"></span></a><p>
                        <span th:text="${item.rtymct1}"></span> > <span th:text="${item.rtymct2}"></span> > 
                        <span th:text="${item.rtymct3}"></span> > <span th:text="${item.rtymct4}"></span>
                    </td>
                    <td style="height:100px;" align="center">
                        <a th:href="${item.rtymlnk}">
                            <span th:text="${item.rtymprce}"></span>원<p>
                        </a>
                        <span style="font-size:small;" th:text="${item.rtymbd}"></span>
                        <span style="font-size:small;" th:text="${item.rtymmn}"></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>
