<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body id="sidebody">
	<table class="sidebar_table">
		<form action="marketsearchdatacate.go" method="get" class="divcon1">
			<tr>
				<input id="cate_searchingarea" name="cate_searching_area" type="hidden">
				<td>
					<button id="nsc_farm">농산물</button>
				</td>
				<td><button id="nsc_seafood">수산물</button>
				</td>
				<td><button id="nsc_meat">축산물</button>
				</td>
				<td><button id="nsc_scning">조미료</button>
				</td>
				<td><button id="nsc_baking">제과제빵</button>
				</td>
				<td><button id="nsc_drink">음료</button>
				</td>
				<td><button id="nsc_milky">유제품</button>
				</td>
				<td><button id="nsc_etc" type="button">기타/식자재</button>
				</td>
			</tr>
	</table>
		<div class="farmcontainer">
			<button id="nsc_nut">견과류</button>
			<button id="nsc_vege">채소</button>
			<button id="nsc_fruit">과일</button>
			<button id="nsc_etcfarm">잡곡/혼합곡</button>
			<button id="nsc_rice">쌀</button>
			<button id="nsc_dryfruit">건과류</button>
			<button id="nsc_frofruit">냉동과일</button>
		</div>
		<div class="seafoodcontainer">
			<button id="nsc_seaweed">김/해초</button>
			<button id="nsc_dryfish">건어물</button>
			<button id="nsc_fish">생선</button>
			<button id="nsc_seashell">해산물/어패류</button>
			<button id="nsc_soi">젓갈/장류</button>
			<button id="nsc_seamil">수산가공식품</button>
		</div>
		<div class="meatcontainer">
			<button id="nsc_meatmil">축산가공식품</button>
			<button id="nsc_cow">쇠고기</button>
			<button id="nsc_chicken">닭고기</button>
			<button id="nsc_pig">돼지고기</button>
			<button id="nsc_duck">오리고기</button>
			<button id="nsc_egg">계란</button>
			<button id="nsc_sheep">양고기</button>
			<button id="nsc_etcmeat">기타육류</button>
		</div>
		<div class="scncontainer">
			<button id="nsc_etcscn">기타조미료</button>
			<button id="nsc_salt">소금</button>
			<button id="nsc_vineger">식초</button>
			<button id="nsc_sugar">설탕</button>
			<button id="nsc_pepper">후추</button>
			<button id="nsc_oli">물엿/올리고당</button>
			<button id="nsc_redpepp">고춧가루</button>
			<button id="nsc_msgor">천연감미료</button>
			<button id="nsc_soisource">액젓</button>
			<button id="nsc_redwasabi">고추냉이</button>
			<button id="nsc_msg">맛가루/후리카케</button>
			<button id="nsc_wasabi">겨자</button>
		</div>
		<div class="breadcontainer">
			<button id="nsc_etcbaking">기타/제빵재료</button>
			<button id="nsc_mckbk">제과/제빵믹스</button>
			<button id="nsc_bkpd">베이킹파우더</button>
			<button id="nsc_hddmix">호떡믹스</button>
		</div>
		<div class="drinkcontainer">
			<button id="nsc_tea">차</button>
			<button id="nsc_coffee">커피</button>
			<button id="nsc_sparkle">탄산</button>
			<button id="nsc_juice">주스</button>
			<button id="nsc_healty">건강/기능성</button>
			<button id="nsc_water">생수</button>
			<button id="nsc_oldtea">전통차</button>
			<button id="nsc_milyo">우유/요거트</button>
			<button id="nsc_beanmil">두유</button>
			<button id="nsc_sparklewater">탄산수</button>
			<button id="nsc_cocoa">코코아</button>
		</div>
		<div class="milkcontainer">
			<button id="nsc_cheese">치즈</button>
			<button id="nsc_butter">버터</button>
			<button id="nsc_whipcream">휘핑크림</button>
			<button id="nsc_namacream">생크림</button>
			<button id="nsc_rowmilk">연유</button>
			<button id="nsc_magarin">마가린</button>
			<button id="nsc_psobject">파우더/스무디</button>
		</div>
		<div class="etccontainer">
			<button id="nsc_snack">스낵</button>
			<button id="nsc_frozen">냉동/간편조리식품</button>
			<button id="nsc_diet">다이어트식품</button>
			<button id="nsc_can">통조림/캔</button>
			<button id="nsc_meal">밀키트</button>
			<button id="nsc_side">반찬</button>
			<button id="nsc_instantnoodle">라면/면류</button>
			<button id="nsc_oil">식용유/오일</button>
		</div>
	</form>
</body>
</html>